// recompile command (when working in css folder):
//sass.bat base.scss base.css

// @import "_normalize.scss";
// @import "bootstrap/scss/bootstrap.scss";

html, body {
	background-color: #FFF;
}

#container {
	border: 1px solid #ccc;
}

#survey-video, #survey-options, #survey-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
}

#survey-navigation {
	button {
		margin: 40px 20px;
	}
}