// recompile command (when working in css folder):
//sass.bat base.scss base.css

// @import "_normalize.scss";
// @import "bootstrap/scss/bootstrap.scss";

body {
	background-color: #FFF;
}

#pagecontent {
	// margin-top: none;
	table, td, tr, div {
		background-color: #00000000;
	}
}

#container {
	// margin-top: 22px;
	border: 1px solid #ccc;
	background-color: #00000000;
}

#questiontable .labelrc {
	// padding-top: 16px;
}

#questiontable td {
	/*
		The bottom border is not necessary since we only show one field at a time.
		We remove it since does not respect the text color like other borders.
	*/
	border-bottom: none;
}

#survey-video, #exit-survey-video {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#curtain {
	background-color: #000;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-calc(100%);
    height:    -moz-calc(100%);
    height:         calc(100%);
}

#survey-options {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 12px;
	padding-top: 12px;
	button {
		white-space: nowrap;
		font-size: 12px;
	}
}

#survey-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
	button {
		margin: 40px 20px;
	}
}

.unseen {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

// -- slider class

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.modal-content {
	max-width: 96.5%;
}

div.signer-preview {
	padding: 8px 8px 2px 8px;
	margin-bottom: 12px;
}

.blueHighlight {
	border: 1px solid #007bff;
	border-radius: 2px;
}

#optionsModal .modal-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	
	div.row {
		margin-bottom: 20px;
		width: 100%;
		padding: 12px;
		border: 1px solid #007eff33;
		border-radius: 5px;
		div.col {
			width: 100%;
		}
		i {
			font-size: 200px;
		}
	}
	
	div.signer-portrait {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px;
		button {
			width: 100%;
			margin-top: 8px;
		}
		img {
			max-width: 300px;
			max-height: 100%;
		}
	}
	
	.sp-container {
		border: 0;
	}
}

#signerModal .modal-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	div.signer-portrait {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px;
		i {
			font-size: 200px;
		}
		img {
			max-width: 300px;
			max-height: 100%;
		}
		button {
			width: 100%;
			margin-top: 8px;
		}
	}
}

.fl-button {
	i {
		margin-left: 12px;
		padding: 4px;
		border: 1px solid #007bff33;
		border-radius: 2px;
	}
}

#form {
	border: none;
}

.greenhighlight {
	background-color: none !important;
	background: none !important;
}

#exitModal.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

// large screen adjustments
@media (min-width: 768px) {
	#survey-options button {
		font-size: 1rem;
	}
}

// tiny screen adjustments
@media (max-width: 442px) {
	#survey-options button {
		font-size: 10px;
	}
}