// recompile command (when working in css folder):
//sass.bat base.scss base.css

html {
	overflow: hidden; // Prevents return code corner button from oddly hanging off the page and affecting zoom & dialog sizes.
}

body {
	background-color: #FFF;
}

#pagecontent {
	// margin-top: none;
	table, td, tr, div {
		background: rgba(0,0,0,0);	// browsers\
	}
	.greenhighlight {
		// background: none !important;
		background: none !important;
	}
}

#container {
	// margin-top: 22px;
	border: 1px solid #ccc;
	background: rgba(0,0,0,0);	// browsers
	
	@media (max-width: 820px) {
		border-left: none;
		border-right: none;
	}
}

#questiontable .labelrc {
	// padding-top: 16px;
}

#questiontable td {
	/*
		The bottom border is not necessary since we only show one field at a time.
		We remove it since does not respect the text color like other borders.
	*/
	border-bottom: none;
	padding: 24px 0px;
}

.signer-previews {
	width: 100%;
	text-align: center;
	.signer-preview {
		margin-bottom: 12px;
		padding: 8px;
		pointer-events: none;
	}
	button {
		position: relative;
		bottom: 95px;
		margin-bottom: -95px;
		z-index: 2;
	}

	.ios-click-area{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
	}
}

#optionsModal .modal-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	
	div.row {
		margin-bottom: 20px;
		width: 100%;
		padding: 12px;
		border: 1px solid #007eff33;
		border-radius: 5px;
		div.col {
			width: 100%;
		}
		i {
			font-size: 200px;
		}
	}
	
	.sp-container {
		border: 0;
	}
}

#curtain {
	background-color: #000;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-calc(100%);
    height:    -moz-calc(100%);
    height:         calc(100%);
}

#survey-options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	button {
		font-size: 12px;
		padding: 8px;
		margin: 8px;
	}
}

#survey-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
	button {
		margin: 40px 20px;
	}
}

.unseen {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.blueHighlight {
	border: 1px solid #007bff;
	border-radius: 2px;
}

.fl-button {
	padding: 1px;
	i {
		margin-left: 12px;
		padding: 2px;
		border: 1px solid #007bff33;
		border-radius: 2px;
	}
}

#form {
	border: none;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.anchored {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

// large screen adjustments
@media (min-width: 1280px) {
	#survey-options button {
		font-size: 16px;
		padding: 8px;
		margin: 16px;
	}
}

// tiny screen adjustments
@media (max-width: 568px) {
	#survey-options button {
		font-size: 10px;
		padding: 4px;
		margin: 4px;
	}
}