// recompile command (when working in css folder):
//sass.bat base.scss base.css

// @import "_normalize.scss";
// @import "bootstrap/scss/bootstrap.scss";

table.field_value {
  border: 1px solid #000000;
  // width: 80%;
  text-align: left;
  border-collapse: collapse;
}
table.field_value td, table.field_value th {
  border: 1px solid #000000;
  padding: 3px 5px;
}
table.field_value tbody td {
  font-size: 13px;
}
table.field_value thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 0px solid #000000;
}
table.field_value thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  border-left: 0px solid #D0E4F5;
}
table.field_value thead th:first-child {
  border-left: none;
}

table.field_value tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 1px solid #000000;
}
table.field_value tfoot td {
  font-size: 14px;
}

.type_column {
	min-width: 8%;
	width: 10%;
	max-width: 10%;
}

.var_column {
	min-width: 8%;
	width: 10%;
	max-width: 10%;
}

.label_column {
	min-width: 18%;
	width: 25%;
	max-width: 30%;
}

.value_column {
	min-width: 18%;
	width: 25%;
	max-width: 30%;
	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

#assoc_table {
	min-width: 90%;
	max-width: 90%;
}

#form_picker {
	margin-bottom: 16px;
}

#save_changes {
	margin: 24px 0px;
}

#table-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	button {
		margin-left: 20px;
	}
}

#signer-portraits {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 20px 0px;
	.signer-portrait {
		div.row {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding: 8px 0px;
			h6 {
				margin: 8px;
			}
		}
		img {
			min-width: 100%;
			max-height: 12%;
		}
		max-width: 25%;
		margin-right: 20px;
		padding: 8px;
		border: 1px solid #007adf;
		border-radius: 5px;
	}
}

textarea, #exitVideoUrl {
	max-width: 90%;
}